// extracted by mini-css-extract-plugin
module.exports= {
    "ErrorNoticeWrapper": "ErrorNotice_ErrorNoticeWrapper__qIGlW",
        "NotFound404":"ErrorNotice_NotFound404__3486C",
        "NotFoundHeading":"ErrorNotice_NotFoundHeading__1U5RN",
        "NotFoundDetails":"ErrorNotice_NotFoundDetails__2-_8h",
        "ErrorTextWrapper":"ErrorNotice_ErrorTextWrapper__zvSIU"
}
;