// extracted by mini-css-extract-plugin
module.exports = {"FeelsLikeWrapper":"FeelsLike_FeelsLikeWrapper__i1J6c","FeelsLikeText":"FeelsLike_FeelsLikeText__1tnvf","UnitsText":"FeelsLike_UnitsText__2RuWS"};